{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'users/css/mypage.css' %}">
{% endblock head %}

{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <h2>제목 1</h2>
        <p>내용 1입니다.</p>
    </div>
    <div class="grid-item">
        <h2>제목 2</h2>
        <p>내용 2입니다.</p>
    </div>
    <div class="grid-item">
        <h2>제목 3</h2>
        <p>내용 3입니다.</p>
    </div>
    <div class="grid-item">
        <h2>제목 4</h2>
        <p>내용 4입니다.</p>
    </div>
    <div class="grid-item">
        <h2>제목 5</h2>
        <p>내용 5입니다.</p>
    </div>
    <div class="grid-item">
        <h2>제목 6</h2>
        <p>내용 6입니다.</p>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'users/js/mypage.js' %}"></script>
{% endblock script %}