{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'users/css/update.css' %}">
{% endblock head %}

{% block content %}
<div class="login-container">
    <form method="post" class="signup-form form" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <div class="signup-grid">
          <div class="left-column">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Password Confirmation" required>
            <input type="text" name="name" placeholder="성함" required>
          </div>
          <div class="right-column">
            <div style="position: relative; display: inline-block; width: 300px;">
              <input type="text" id="postcode" placeholder="우편번호" name="postcode" style="width: 100%; padding-right: 80px;" required>
              <button type="button" onclick="sample4_execDaumPostcode()" style="position: absolute; right: 0; top: 0; height: 100%; border: none; background: #007bff; color: white; padding: 0 15px; cursor: pointer; border-radius: 0 4px 4px 0;">
                  찾기
              </button>
          </div>
          <br>
          <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소">
          <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소">
          <input type="text" name="extraAddress" id="extraAddress" placeholder="참고주소">
          <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소">
            <select name="bank" required>
              <option value="">은행 선택</option>
              <option value="Bank A">Bank A</option>
              <option value="Bank B">Bank B</option>
              <option value="Bank C">Bank C</option>
            </select>
            <input type="text" name="bankAccount" placeholder="환불받을 계좌 주소" required>
          </div>
        </div>
        <button type="submit">가입</button>
    </form>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'users/js/update.js' %}"></script>
{% endblock script %}