.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    max-width: 1000px;
    margin: 80px auto 0 auto;
}

@media (max-width: 1024px) {
    .product-details {
        grid-template-columns: 1fr;
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .product-details {
        margin-top: 60px;
    }
}


.swiper {
    width: 100%;
    max-width: 600px; 
    aspect-ratio: 4 / 5;
    margin: auto;
    position: relative;
}


.swiper-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
}

.swiper-slide.swiper-slide-active {
    opacity: 1 !important;
    z-index: 2;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}


.product-info {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}


.product-description {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
    margin: 20px auto;
}

.instruction-container {
    max-width: 1000px;
    width: 100%;
    margin: 60px auto;
    padding: 30px 20px;
    font-size: 1rem;

    color: #333;
    box-sizing: border-box;
}


.thumbnail-container {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
}


.thumbnail-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 0 70px;
}

.thumbnail-images img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


.wearing-shots-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.wearing-shots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.wearing-shots img {
    max-width: 100%;
    width: 600px;
}

.wearing-shots p {
    margin: 0;
    font-size: 16px;
    color: #444;
    text-align: center;
}

@media (max-width: 768px) {
    .swiper {
        max-height: 400px;
    }
    .product-info {
        padding: 15px;
        font-size: 0.9rem;
    }
    .product-description {
        padding: 15px;
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .swiper {
        max-height: 300px;
    }
    .product-info {
        padding: 10px;
        font-size: 0.85rem;
    }
    .product-description {
        padding: 10px;
        font-size: 0.85rem;
    }
    .btn {
        font-size: 0.85rem;
        padding: 10px;
    }
}
