.list-container {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.list-container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 데스크탑은 3열 */
    gap: 20px;
}

@media (max-width: 1024px) {
    .list-container .row {
        grid-template-columns: repeat(2, 1fr);  /* 태블릿은 2열 */
    }
}

@media (max-width: 768px) {
    .list-container .row {
        grid-template-columns: repeat(1, 1fr);  /* 모바일은 1열 */
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 6px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-price {
    font-size: 14px;
    color: #333;
    margin-bottom: 3px;
}

.card-status {
    font-size: 12px;
    color: #999;
}

.add-to-cart-btn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #333;
}

.category {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1024px) {
    .category {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .category {
        margin-top: 60px;
    }
}

.category-item {
    font-size: 16px;
    font-weight: 300;
    color: gray;
    cursor: pointer;
    transition: all 0.3s;
}

.category-item.active {
    font-weight: 700;
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.page-btn {
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    transition: background 0.3s ease;
}

.page-btn:hover {
    text-decoration: underline;
}

.page-btn.prev,
.page-btn.next {
    font-weight: bold;
}
