{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lepond - Shop</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1 class="logo">My Website</h1>
            <button class="hamburger" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="{% url 'main:main' %}">MAIN</a></li>
                    <li><a href="{% url 'shop:items' %}">SHOP</a></li>
                    <li><a href="{% url 'main:about' %}">ABOUT</a></li>
                    <li><a href="{% url 'community:board' %}">COMMUNITY</a></li>
                </ul>
                <ul class="nav-users">
                    <li><a href="#profile1">SIGN IN</a></li>
                    <li><a href="#profile2">MYPAGE</a></li>
                    <li><a href="#profile3">BAG</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>

    <div class="root">
        <p class="hover-text">바람에 스치는 감성</p>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3><a href="{% url 'main:policy' %}">Policy</a></h3>
                <h3><a href="{% url 'main:agreement' %}">Agreement</a></h3>
            </div>
            <div class="footer-section">
                <h3>Contact</h3>
                <p>Email: babo@example.com</p>
                <p>Phone: +10 </p>
                <p><a href="https://www.instagram.com/lepond.shop/">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h3>회사</h3>
                <ul class="social-links">
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>