{% extends 'product.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'shop/css/details.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<style>
    :root {
        --swiper-navigation-color: white;
    }
    .swiper-button-next, .swiper-button-prev {
        color: white !important;
    }
    .btn-white {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ddd;
    }
    
    .btn-gray {
        background-color: #888888;
        color: #ffffff;
        border: none;
        cursor: not-allowed;
        opacity: 0.9;
    }
</style>
{% endblock head %}

{% block content %}
<div class="container py-0 px-0">
    <div class="product-details">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% if product.thumbnails.all %}
                    {% for thumbnail in product.thumbnails.all %}
                        <div class="swiper-slide">
                            <img src="{{ thumbnail.image.url }}" alt="썸네일 이미지">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="swiper-slide">
                        <img src="https://dummyimage.com/900x700/ccc/000&text=No+Image" alt="기본 이미지">
                    </div>
                {% endif %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="product-info">
            <h2 class="fw-bold">{{ product.name }}</h2>
            <p class="fw-bold">{{ product.price }}</p>
            <label for="color" class="form-label">Color</label>
            <select id="color" class="form-select mb-3">
                {% for color in product.colors.all %}
                    <option>{{ color.color }}</option>
                {% endfor %}
            </select>
            <label for="size" class="form-label">Size</label>
            <select id="size" class="form-select mb-3">
                {% for size in product.sizes.all %}
                <option>{{ size.size }}</option>
                {% endfor %}
            </select>

            <form method="POST" action="{% url 'shop:add_cart' product.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                <button type="submit" class="btn btn-white w-100 mb-2">Cart 🛒</button>
            </form>
            
            {% if product.status == 'in_stock' %}
                <button class="btn btn-white w-100">Buy</button>
            {% elif product.status == 'out_of_stock' %}
                <button class="btn btn-gray w-100" disabled>Sold Out</button>
            {% else %}
                <button class="btn btn-gray w-100" disabled>Pre-order</button>
            {% endif %}
            <label for="shipping" class="form-label" >Shipping</label>
            <textarea stlye="height:100%;" style="resize: none;" id="shipping" class="form-control mb-3" rows="4" placeholder="※ 제주도 및 도서산간 지역의 경우, 기본 배송비 외에 추가 배송비가 발생할 수 있습니다.
추가 배송비는 지역 및 상품에 따라 상이하며, 결제 후 별도로 안내드릴 수 있습니다."></textarea>

                
        </div>
    </div>

    <div class="product-description">
        {% comment %} <h3 class="fs-5 fw-bold">제품 설명</h3> {% endcomment %}
        <p>{{ product.details.instruction }}</p>
    </div>

    <div class="wearing-shots-container">
        <div class="wearing-shots">
            {% for thumb in product.thumbnails.all %}
                <img src="{{ thumb.image.url }}" alt="{{ product.name }} 썸네일">
            {% empty %}
                <p>썸네일 이미지가 없습니다.</p>
            {% endfor %}
        </div>
    </div>
    <div class="wearing-shots-container">
        <div class="wearing-shots">
            {% for image in product.images.all %}
                <img src="{{ image.image.url }}" alt="{{ product.name }} 썸네일">
            {% empty %}
                <p>착용 이미지가 없습니다.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="scroll-to-top" onclick="scrollToTop()">&#8679;</div>
{% endblock content %}

{% block script %}
<script src="{% static 'shop/js/details.js' %}"></script>
{% endblock script %}
