{% extends 'product.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'shop/css/items.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock head %}

{% block content %}
<div class="container py-0 px-0">
    <div class="list-container">
        <div class="category">
            {% for category in categories %}
                <span class="category-item {% if forloop.first %}active{% endif %}" 
                      onclick="selectCategory(this, {{ category.id }})">
                    {{ category.name }}
                </span>
            {% endfor %}
        </div>

        <div class="row">
            {% for product in products %}
                <div class="col product-item" data-product-id="{{ product.id }}">
                    <div class="swiper-slide">
                        <a href="{% url 'shop:details' product.id %}">
                            <img src="{% if product.thumbnails.first %}{{ product.thumbnails.first.image.url }}{% else %}https://dummyimage.com/900x700/ccc/000&text=No+Image{% endif %}"
                                 class="card-img-top" alt="Thumbnail Image">
                        </a>
                        <a href="{% url 'shop:details' product.id %}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-price">{{ product.price }}</p>
                                <p class="card-status">{{ product.status }}</p>
                            </div>
                        </a>
                        <form method="POST" action="{% url 'shop:add_cart' product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class="add-to-cart-btn">장바구니 담기 🛒</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <span class="current page-btn">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="scroll-to-top" onclick="scrollToTop()">&#8679;</div>
{{ quantities|json_script:"productQuantities" }}
{% endblock content %}

{% block script %}
<script src="{% static 'shop/js/items.js' %}"></script>

{% endblock script %}
