
.board-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    height: 80%;
}


.categories {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    margin: 20px 0;
    margin-bottom: 7rem;
}

.categories a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.categories a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .categories {
        gap: 0.5rem; 
    }

    .categories a {
        font-size: 0.9rem; 
        padding: 6px 12px;
    }
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
}

.board-table th, .board-table td {
    position: relative; 
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

.board-table th::after, .board-table td::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: solid black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.board-table tr:hover {
    background-color: #f1f1f1;
}

.board-table td {
    color: #333;
}
